@import "@teliads/components/foundations/colors/variables";

.telia-navbar {
  background-color: $telia-purple-900;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .col-2 {
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    * {
      color: $telia-white;
    }
  }
  .col-8 {
    width: 80%;
  }
}
